<div class="mx-auto px-4 sm:px-6 lg:px-8">
  <div class="bg-white overflow-hidden shadow rounded-lg divide-y divide-gray-200">
    <div class="px-4 py-5 sm:px-6">
      <h1 class="font-bold text-2xl">Ny kund</h1>
      <%= render partial: "form", locals: { user: @user } %>
    </div>
  </div>
</div>