<div class="ring-1 ring-gray-200 shadow overflow-hidden rounded-lg my-4">

  <div class="bg-slate-50 px-2 py-3 sm:px-4">
    <h3 class="text-lg leading-6 font-medium text-gray-900">
      <%= reportable.title %>
    </h3>
  </div>

  <div class="border-t border-gray-200 px-4 py-5 sm:p-0 bg-white">
    <dl class="text-sm sm:divide-y sm:divide-gray-200">
      <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class=" font-medium text-gray-500">Summa</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= number_to_currency reportable.reports.sum(&:total) %></dd>
      </div>
    </dl>
  </div>

  <div class="border-t border-gray-200 px-4 py-5 sm:p-0 bg-white">
    <dl class="text-sm sm:divide-y sm:divide-gray-200">
      <div class="p-5">

        <h3 class="text-md mb-1 ml-2 leading-6 text-gray-900"> Löner </h3>
        <div class="overflow-x-auto shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
          <%= render partial: 'reports/workers_table', locals: { reportable: reportable } %>
        </div>
      </div>
    </dl>
  </div>
</div>