<div class="bg-gray-100 rounded-md border-4 border-gray-200 p-3 pb-1 mb-5">
  <h6 class="font-bold text-gray-800"> 
    Information 
  </h6>

  <div class="py-2 text-gray-700 text-sm"> <%= project.description %> </div>
</div>

<%= render project.checklists.order(id: :asc) %>

<div id="project-actions">
  <%= button_to project_checklists_path(project, method: :post), class: 'inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500' do %>
    <%= heroicon('clipboard-list', variant: :outline, options: { class: 'mr-2' }) %> Ny arbetslista
  <% end if policy(:checklist).create? %>
</div>