<div class="bg-gray-100 rounded-md ring-2 ring-gray-200 p-3 pb-1 mb-5">
  <h6 class="font-bold text-gray-800"> Information </h6>
  <div class="py-2 text-gray-700 text-sm"> <%= project.description %> </div>
</div>

<%= render project.checklists.order(id: :asc) %>

<%= button_to project_checklists_path(@project, method: :post), class: 'btn-primary' do %>
  <%= icon_text('Ny checklista', 'plus') %>
<% end if policy(@project).checklist?  %>
