<h2 class="sr-only">Description</h2>
<p class="px-2"> <%= project.description %> </p>
<p class="mt-5 text-sm text-gray-900 sm:mt-4 bg-gray-100 p-2 rounded-lg">
  <b class="pr-4">Projektlön</b> <%= number_to_currency project.salaries %>
</p>