  <div class="bg-white shadow overflow-hidden rounded-md">
    <ul role="list" class="divide-y divide-gray-200">
      <%= render partial: 'project_preview', collection: @projects, as: :project %>
    </ul>
  </div>
  
  <hr class="border-red-500 my-4" />

  <div class="bg-white shadow overflow-hidden rounded-md">
    <ul role="list" class="divide-y divide-gray-200">
      <%= render partial: 'project_preview', collection: @completed, as: :project %>
    </ul>
  </div>