<div class="bg-white shadow overflow-hidden rounded-md px-5 py-5">
  <h1 class="text-2xl"> Harvest </h1>

  <%= debug @client.projects.first %>

  <% @client.projects.each do |project| %>
    <p class="font-bold"><%= project.name %> </p>
    <p><%= project.is_active %> </p>
    <p><%= project.client.name %> </p>
    <hr>
  <% end if false %>
</div>