<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-2xl">Uppdatera tidrapport</h1>

  <%= turbo_frame_tag dom_id(@report) do %>
    <%= render partial: "form", locals: { report: @report, turbo_target: dom_id(@report) } %>
  <% end %>
</div>