<nav class="<%= classes %>">
  <%= link_to root_url, class: 'bg-indigo-800 text-white group flex items-center px-2 py-2 text-base font-medium rounded-md' do %>
    <%= heroicon('home', variant: :outline, options: { class: 'mr-4 flex-shrink-0 h-6 w-6 text-indigo-300' }) %>
    Dashboard
  <% end %>
</nav>